{% extends "todos/base.html" %}

{% block title %}Delete{% endblock title %}

{% block body %}
<main>
    <div>
        <h1>Are you sure?</h1>

        <form action="{% url 'todo_list_delete' todo_list.id%}" method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>

</main>
{% endblock body %}
