{% extends "todos/base.html" %}

{% block body %}
    <main>
        <div>
            <h1>{{todo_list.name}}</h1>
            <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{item.task}}</a></td>
                        <td>{{item.due_date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

    </main>
{% endblock body %}
