{% extends "todos/base.html" %}

{% block title %}{% endblock title %}

{% block body %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>

                            <td><a href="{% url 'todo_list_detail' todo.id %}">{{todo.name}}</a></td>
                            <td>{{todo.items.all.count}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock body %}
